.places__paragraph {
  grid-area: paragraph;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
  max-width: 484px;
}

@media (max-width: 1024px) {
  .places__paragraph {
    max-width: 456px;
  }
}

@media (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 163%;
    max-width: 352px;
  }
}

@media (max-width: 456px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 163%;
    max-width: 305px;
  }
}

@media (max-width: 320px) {
  .places__paragraph {
    width: 100%;
    font-size: 16px;
    line-height: 163%;
    font-weight: 400;
    max-width: 288px;
    order: 4;
    margin-top: 12px;
    margin-left: 16px;
  }
}