.places__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  grid-area: title;
  align-self: start;
  margin: 0;
  max-width: 460px;
  order: 1;
}

@media (max-width: 1024px) {
  .places__title {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 110%;
    max-width: 330px;
    align-self: end;
  }
}

@media (max-width: 600px) {
  .places__title {
    align-self: start;
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .places__title {
    font-size: 32px;
    line-height: 111%;
    max-width: 288px;
    margin: 0 auto;
    margin-left: 16px;
  }
}