.places__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  grid-area: title;
  align-self: start;
  margin: 0;
  max-width: 460px;
  order: 1;
}

@media (max-width: 1024px) {
  .places__title {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 110%;
    max-width: 99vw;
  }
}



@media (max-width: 456px) {
  .places__title {
    font-size: 32px;
    line-height: 111%;
    max-width: 288px;
    margin: 0 auto;
    /* order: 1; */
    align-self: flex-start;
    margin-left: 16px;
  }
}