.places__container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: 
  "title website"
  "image paragraph";
  row-gap: 48px;
  column-gap: 40px;
  margin: 0;
  margin-top: 80px;
}

.places__container:first-child {
  margin-top: 92px;
}

.places__container:last-child {
  margin-bottom: 92px;
}