.lead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: clamp(288px, 93.7%, 1184px);
  padding-top: 56px;
}

/* @media (max-width: 1024px) {
  .lead {
    min-width: 100%;
    min-width: 928px;
    padding-top: 48px;
  }
} */


@media (max-width: 768px) {
  .lead {
    width: clamp(320px, 100%, 768px);
    align-self: center;
  }
}

/* @media (max-width: 425px) {
  .lead {
  }
}

@media (max-width: 320px) {
  .lead {

    min-width: 288px;

  }
} */