.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  width: 360px;
  position: relative;
  top: 245px;
  left: 412px;
  margin: 0;
  margin-top: 32px; 
}