.lead__title {
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 105%;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .lead__title {
    min-width: 288px;
    max-width: 720px;
    font-size: 40px;
    line-height: 110%;
  }
}

@media (max-width: 320px) {
  .lead__title {
    min-width: 288px;
    max-width: 720px;
  }
}