.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .wrapper {
    min-width: 928px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (max-width: 425px) {
  .wrapper {
    min-width: 382px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    max-width: 288px;
  }
}

.content {
  /* width: 100%; */
}