.lead__image {
  display: block;
  margin: 0;
  margin: 64px auto 0;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .lead__image {
    margin: 56px auto 0;
    width: clamp(928px, 80%, 984px);
    align-self: center;
  }
}

@media (max-width: 1024px) {
  .lead__image {
    margin: 56px auto 0;
    width: clamp(740px, 80%, 928px);
    align-self: center;
  }
}

@media (max-width: 768px) {
  .lead__image {
    max-width: 99%;
    align-self: center;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin: 40px auto 0;
  }
}