.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 92px;
  padding: 0;
}

@media (max-width: 2024px) {
  .intro {
    max-width: 690px;
    padding-top: 92px;
    padding-left: 8px;
  }
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 16px;
    padding-top: 92px;
    min-width: clamp(288px, 93.7%, 690px);
  }
}

@media (max-width: 768px) {
  .intro {
    min-width: clamp(288px, 93.7%, 720px);
  }
}

@media (max-width: 320px) {
  .intro {
    max-width: 288px;
    align-self: center;
    padding-top: 64px;
  }
}