.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 92px;
  padding: 0;
  padding-top: 83px;
  padding-left: 8px;
  max-width: 690px;
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 39px;
    padding-top: 75px;
    min-width: clamp(288px, 93.7%, 690px);
  }
}

@media (max-width: 768px) {
  .intro {
    min-width: clamp(288px, 93.7%, 720px);
    margin-left: 15px;
    padding-top: 80px;
  }
}

@media (max-width: 320px) {
  .intro {
    max-width: 288px;
    align-self: center;
    padding-top: 48px;
  }
}