.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin: 32px auto 0;
  width: clamp(288px, 56.25%, 720px);
}


@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 56px auto 0;
    width: clamp(666px, 70.5%, 720px);
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    width: clamp(399px, 93.7%, 398px);
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 0;
  }
}

@media (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 0;
  }
}