.places__website {
  grid-area: website;
  align-self: end;
  order: 2;
}

@media (max-width:600px) {
  .places__website {
    align-self: start;
  }
}

@media (max-width:456px) {
  .places__website {
    margin-left: 16px;
  }
}